/* font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Saira Condensed', sans-serif; */


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display:block;
    clear:both;
}

header{
    height: 100vh;
    position: relative;
    background-color:#e4bec9;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

header>* {
    position:absolute;
}

header img{
    position: absolute;
    /* height: 70vh; */
    width: auto;
    bottom: 0;
    right: -55%;   
}

header div.welcome{
    z-index: 2;
    position:absolute;
    top:7%;
    text-align: center;
    left: 5%;
    right: 5%;
    font-family: "Saira Condensed", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color:#a87584;
    text-transform: uppercase;
}
header p{
    font-size: 6rem;
}

header h1{
    font-size: 36px; 
    margin-top: 15px;  
}

header h2{
    font-size: 10px; 
    font-weight: lighter;
    color: white;  
}

header button{
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
    font-weight: 300;
}

@media(orientation: portrait) and (min-width: 360px){
    header p{
        font-size: 38px;
    }
    header h1{
        font-size: 30px;
    }
    header h2{
        font-size: 28px;
    }

    header button{
        line-height: 40px;
        font-size: 16px;
        margin-top: 24px;
    }
    header img{
        right: -65%;
        /* height: 70vh; */
        
    }
}

@media(orientation: portrait) and (min-width: 410px){
    header p{
        font-size: 40px;
    }
    
    header h1{
        font-size: 26px;
    }

    header h2{
        font-size: 26px;
    }

    header button{
        line-height: 50px;
        font-size: 16px;
        margin-top: 40px;
    }

    header img{
        right: -15%;
        /* height: 70vh; */
    }
}

@media(orientation: portrait) and (min-width: 768px){
    header p{
        font-size: 60px;

    }
    
    header h1{
        font-size: 34px;

    }
    header h2{
        font-size: 32px;
    }

    header button{
        line-height: 60px;
        font-size: 24px;
        margin-top: 60px;
    }

    header img{
        right: -15%;
        /* height: 70vh; */
    }
}


@media(orientation: landscape){
    header p{
        font-size: 40px;
    }
    
    header h1{
        font-size: 24px;
    }
    header h2{
        font-size: 32px;
    }
    header img{
        /* height: 70vh; */
        bottom: 0;
        right: 5%;
    }
    header div.welcome{
        top: 5%;
        left: 7%;
        right: 40%;
    }

    header button{
        margin-top: 25px;
        margin-bottom: 25px
    }
}
@media(orientation: landscape) and (min-width:640px){
    header p{
        font-size: 45px;

    }
    header h1{
        font-size: 26px;
    }
    header h2{
        font-size: 30px;
    }
    header button{
        font-size: 16px;
        line-height: 40px;
    }
    header img{
        right: 3%;
        /* height: 70vh; */
    }
}

@media(orientation: landscape) and (min-width: 1024px){
    header div.welcome{
        left: 3%;
    }
    
    header p{
        font-size: 86px;
    }
    header h1{
        font-size: 40px;
        margin-top: 40px;
    }
    header h2{
        font-size: 34px;
    }
    header button{
        font-size: 24px;
        line-height: 40px;
        margin-top: 3vh;
    }
    header img{
        right: 3%;
        /* height: 70vh; */
    }
}

@media(orientation: landscape) and (min-width:1280px){
    header div.welcome{
    text-align: left;
    left: 6%;
    }

    header p{
        font-size: 80px;
    }
    header h1{
        font-size: 37px;
        margin-top: 50px;
    }
    header h2{
        font-size: 45px;
        }
    header button{
        font-size: 30px;
        line-height: 40px;
        margin-top:10px;
        padding: 0 10%;
        border-width: 4px;
        }
    header img{
        right: 3%;
        /* height: 70vh; */
        }
    }

@media(orientation: landscape) and (min-width:1600px){
    header div.welcome{
        text-align: left;
        left: 6%;
    }
    header p{
        font-size: 120px;
    }
    header h1{
        font-size: 60px;
        margin-top: 50px;
    }
    header h2{
        font-size: 60px;
    }
    header button{
        font-size: 30px;
        line-height: 80px;
        margin-top: 100px;
        padding: 0 15%;
        border-width: 4px;
    }
    header img{
        right: 3%;
        /* height: 70vh; */
    }
}

@media(min-width: 1024px){
    header button{
        cursor: pointer;
        transition: .3s;
    }
    header button:hover{
        background-color: #fff;
        color: #111;
    }
}


section{
    min-height: 30vh;
}

/* Sekcja 1 */

.features{
    margin: 50px auto;
    padding: 5% 2%;
    text-align: center;
    max-width: 1600px;
}

.features h1{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.feature img{
    width: 100%;
    margin: 5px 0;
    max-width: 357px;
}

.feature h2{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

.feature p{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin: 20px 0;
}

@media(min-width: 360px){
    .features h1{
        font-size:28px;

    }
    .feature h2{
        font-size:24px;
        
    }
}

@media(min-width: 768px){
    .features h1{
        font-size: 34px;
    }
    .feature h2{
        font-size: 28px;
    }
    .feature p{
        font-size: 20px;
    }
}

@media(min-width: 1024px){
    .features {
        margin-top: 50px;
        padding: 5% 2%;
        text-align: center;
    
      }
    .feature{
        float: left;
        width: 33%;
        padding: 3%;
    }
    .features h1{
        font-size: 34px;
    }
    .feature h2{
        font-size: 22px;
    }
    .feature p{
        font-size: 16px;
        line-height: 120%;
        padding: 0 10px;
    }
}

@media(min-width: 1600px){
   
    .feature{
        padding: 5%;
    }
    .features h1{
        font-size: 60px;
    }
    .feature h2{
        font-size: 36px;
    }
    .feature p{
        font-size: 23px;
        line-height: 140%;
        padding: 0 10px;
    }
}

.portfolio{
    background-color: black;
    padding: 10px 0 30px;
}

.portfolio h1{
    font-size: 28px ;
    font-family: "Saira Condensed", sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 800;
    margin-bottom: 15px;
}

.portfolio .web img{
    width: 100%;
}

.portfolio .about{
    color: white;
    font-weight: 300;
    padding: 10px 20px 20px 0px;
    text-align: left;
    
}

.portfolio .about h2{
    font-size: 18px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 6px;
    text-indent: 20px;
}

.portfolio .about p{
    font-size: 12px;
    padding-left: 20px;
}
.portfolio .project{
   max-width: 1400px;
   margin: 0 auto 20px;
}

.portfolio .project:nth-of-type(odd) {
    background-color: #ff4f2c;
  }

  .portfolio .project:nth-of-type(even) {
    background-color: #29a6dc;
  }

  @media(min-width:768px){
    .portfolio h1{
        font-size: 40px;
    }
    .portfolio h2{
    font-size: 28px;
    text-indent: 40px;
    }
    .portfolio .about p{
    font-size: 18px;
    padding-left: 40px;
    text-align: center;
    }
    .portfolio .project{
    margin-bottom: 40px;
    }
  }
  @media(orientation: landscape) {
    .web, .about{
        width: 50%;
        float:left;
    }

    .web img{
        display: block;
    }

    .portfolio .project:nth-of-type(even) .web
    { 
        float: right;
    }
    .portfolio .project:nth-of-type(even) .about{
        padding-right: 0;
    }
    .portfolio .project:nth-of-type(even) .about h2
    { 
        text-indent: 0;
        margin-left: 40px;
    }
    .portfolio .project:nth-of-type(even) .about p
    { 
        padding-right:20px;
    }
    }


  @media(orientation: landscape) and (max-width:1024px) {

  }

  @media(orientation: landscape) and (max-width:1400px) {
    .portfolio h1{
        font-size: 60px;
        padding:30px 0;
    }

    .portfolio .about h2{
        padding-top: 50px;
        font-size: 28px;
        text-indent: 40px;
        margin-bottom: 50px;
        }

     .portfolio .about p{
         margin-bottom: 50px;
         text-align: left;
         line-height: 200%;
        } 
  }

  /* sekcja slogan */

  .slogan{
    text-align: center;
    background-image: url(images/motto.jpg);
    background-size: cover;
    background-position: top;
    padding: 30px 10px;
    color:white;
    background-attachment: fixed;
  }
  .slogan h1{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.slogan p{
    font-family: "Saira Condensed", sans-serif;
    font-size: 18px;
}

.slogan p.author{
    font-family: "Saira Condensed", sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

.slogan .bgc{
    padding: 30px 10px;
    background-color:rgba(0,63,114,0.5);    
    }
   

   @media(orientation:landscape){
    .slogan p{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
   }

@media(min-width: 768px){

    .slogan .bgc{
        padding: 50px 10px; 
    }
         .slogan h1{
        font-size: 38px;
        margin-bottom: 35px;
    }
    
    .slogan p{
        font-size: 26px;
        width: 60%;
        margin: 0 auto;
    }
    
    .slogan p.author{
        font-size: 18px;
        margin-top: 40px;
    }
}

@media(min-width: 1024px){

    .slogan .bgc{
        padding: 80px 10px; 
    }

    .slogan h1{
        font-size: 60px;
        margin-bottom: 55px;
    }
    
    .slogan p{
        font-size: 40px;
        width: 50%;
    }
    
    .slogan p.author{
        font-size: 26px;
        margin-top: 40px;
    }
}

/* sekcja hobby */
.hobby{
    max-width: 1920px;
    margin:0 auto;
}
.hobby .item{
    height: 25vh;
}

.hobby .item{
    background-position: center;
    background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1){
    background-image: url(images/hobby1.jpg);
}
.hobby .item:nth-of-type(2){
    background-image: url(images/hobby2.jpg);  
}
.hobby .item:nth-of-type(3){
    background-image: url(images/hobby3.jpg);   
}
.hobby .item:nth-of-type(4){
    background-image: url(images/hobby4.jpg); 
}

.hobby .item p{
    font-family: "Saira Condensed", sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 4px black;
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
    padding: 5px 0;
}

.hobby h1{
    padding: 20px 0;
    font-family: "Saira Condensed", sans-serif;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

@media(min-width: 533px){
    .hobby .item{
        float:left;
        width: 50%;
        height: 40vh;
    }
}

@media(min-width: 768px){
  .slogan h1{
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
.hobby .item p{
    font-size: 30px;
    padding: 15px 0;
}
}

@media (min-width:1024px){
    .hobby .item p{
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 1s;
        cursor:default;
    }
    .hobby .item:hover p{
        opacity: 1;
    }

    .hobby .item{
        background-size: 100%;
        transition: 1s;
    }

    .hobby .item:hover{
        background-size: 130%;
    }
}

@media(min-width:1600px){
    .slogan h1{
        font-size: 60px;
        margin-bottom: 50px;
        margin-top: 45px;
    }
    
    .hobby .item p{
        font-size: 40px;
        padding: 15px 0;
    }
}

/* sekcja contact */

.contact{
    background-color: #000;
    padding: 30px 20px;
    
    
}

.contact h1{
    font-size: 26px;
    font-family: "Saira Condensed", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    color:white;
    text-align: center;
}

.contact .wrap{
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;

}
.contact input, .contact button, .contact textarea{
    width: 100%;
    margin-bottom: 25px;
    font-family: "Saira Condensed", sans-serif;
    font-size: 12px;
    padding: 5px;
}

.contact input{
    height: 36px;
}

.contact textarea{
height: 120px;
}

.contact button{
    line-height: 40px;
    font-size: 14px;
    background-color: #000;
    color: white;
    border: 2px solid white;
}


.contact .socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact .socials img {
    width: 10vh;
    height: 10vh;
    margin-bottom: 10px;
}

.contact .socials span {
    font-size: 16px;
    color: white;
    margin-left: 10px;
}


@media(min-width: 533px){
    .contact .social{
        display: inline-block;
        width: 50%;
    }
}

@media(min-width: 1024px){
    .contact h1{
        font-size: 60px;
        padding: 30px 0;
    }
.contact form, .contact .socials{
    float:left;
    width: 50%;
    padding: 0 20px;
}

.contact .social{
    display: block;
    width: 50%;
    margin: 0 auto;
}

.contact input{
    height: 46px;
    font-size: 24px;
}

.contact textarea{
    height: 120px;
    font-size: 24px;
}

.contact button{
    line-height: 50px;
    font-size: 24px;
    transition: .3s;
    cursor:pointer;
}
.contact button:hover{
   color:black;
   background-color: white;
}
.contact input, .contact button, .contact textarea{
    margin-bottom: 35px;
}}

/* footer */
 footer{
    background-color: #a87584;;
    padding: 20px;
    color: white;
    font-family: "Saira Condensed", sans-serif;
    text-align: center;
 }